apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: twitter-articlenator-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
